In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [2]:
Training_set = pd.read_csv("heart_disease_3features.csv")

In [4]:
Training_set.head()

    age  trestbps  thalach  heart_disease
0  63.0     145.0    150.0              0
1  67.0     160.0    108.0              1
2  67.0     120.0    129.0              1
3  37.0     130.0    187.0              0
4  41.0     130.0    172.0              0